<div class = "container">
		<div class = "row">

			<h1>Curent Dame Agua Users</h1>

			<% @users.each do  |user| %>
				<p> <%= user.username %> | <%= user.email %> </p>
			<% end %>

		</div>
</div>
